# -*- mode: snippet; require-final-newline: nil -*-
# name: ggplot...
# key: ggp
# condition: (string= "S" ess-language)
# binding: direct-keybinding
# --
ggplot(aes(x = ${1:x}, y = ${2:y} $0)) +
  geom_${3:point}()