# -*- mode: snippet; require-final-newline: nil -*-
# name: labs
# key: labs
# condition: (string= "S" ess-language)
# binding: direct-keybinding
# --
labs(x = "$1",
     y = "$2",
     title = "$3")$0