# -*- mode: snippet; require-final-newline: nil -*-
# name: loadlibrary
# key: lib
# condition: (string= "S" ess-language)
# binding: direct-keybinding
# --
library(dplyr)
library(ggplot2)
library(readr)
library(viridis)

$0