# -*- mode: snippet -*-
# name: render
# key: render
# --
## /*
library(knitr)
opts_chunk$set(
  cache = FALSE, dev = 'png', include = TRUE,
  fig.path  = "graphics/", echo = TRUE, warning = FALSE,
  error = FALSE, message = FALSE, global.par = TRUE
)

rmarkdown::render("`(buffer-file-name)`")
## */
