# -*- mode: snippet -*-
# name: rmarkdown-head
# key: header
# --
#' ---
#' title: $1
#' author: Samuel BARRETO"
#' date: $2
#' output:
#'   html_document:
#'     highlight: tango
#'     theme: paper
#'     code_folding: hide
#'     toc: true
#'     toc_depth: 2
#'     toc_float: true
#' ---

$0
