# -*- mode: snippet -*-
# name: wip
# key: wip
# --
## /* `(format "%s" (format-time-string "%Y-%m-%d %H:%M" (current-time)))`

## `(format "%s" user-full-name)`
## ${1:DESCRIPTION}

$0

## `(format "%s" (format-time-string "%Y-%m-%d %H:%M" (current-time)))` */
